 *{
  margin: 0;
}
.App {

  place-content: center; 
  background-color: rgb(253, 253, 255);
  height: 100vh;
  position: relative;
  overflow: scroll;
}
.app__navbar {

  background-color: #00bfa5;
  height: 30vh;  
}
.app__navbar-logo {

  z-index: 100;
  position: absolute;
  left: 10vw;
  top: 5vh;
}
.home {
  z-index : 5;
  display: flex;
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 75vw;
  padding: 30px;
  background-color: white;
  /* background-color: rgb(236, 236, 236); */
  box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);

}

.home__info {

  padding: 50px 0px 20px 50px;
}

p.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root {
  font-size: 2rem;
  color: #7a7979;
}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-md-4.home__qr.css-1ube6tp-MuiGrid-root {
  /* background-color: black; */
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;
}
/* .WhatsApp {

  display: flex;
  height: 90vh;
  width: 90vw;
  background-color: rgb(236, 236, 236);
  box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
} */
.side {

  display: flex;
  flex-direction: column;
  flex: 0.3;
}
.chat {

  display: flex;
  flex-direction: column;
  flex: 0.7;
}
.side-header {

  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-right:1px solid lightgray;
}
.side-headerRight {

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-search {

  display: flex;
  align-items: center;
  padding: 10px;
  height: 40px;
}
.side-searchContainer {

  display: flex;
  background-color: white;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}
input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
}
.side-chats {
  flex: 1;
  overflow: scroll;
  background-color: white;
}
.sideChat {

  display: flex;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid whitesmoke;
}
.sideChat:hover {

  background-color: rgb(247, 244, 244);
}
.sideChat-info {

  padding: 10px;
  margin-left: 10px;
}
.chat-header {

  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.chat-headerInfo {
  
  flex: 1;
  padding-left: 20px;
}
.chat-body {
  
  flex: 1;
  background-size: contain;
  background-repeat: repeat;
  background-image: url("https://ph-live-05.slatic.net/p/730b5a6c92f5ecc0f883ec088af13f59.jpg_2200x2200q80.jpg_.webp"); /*url("https://static8.depositphotos.com/1384048/917/v/950/depositphotos_9176660-stock-illustration-vintage-seamless-wallpaper.jpg");
  */
  overflow: scroll;
  padding: 20px;
}
.chat-msg {

  background-color: white;
  position: relative;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.chat-name {

  position: absolute;
  top: -15px;
  font-size: x-small;
  font-weight: 900;
}
.chat-time {

  font-size: xx-small;
  margin-left: 20px;
}
.chat-footer {

  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-top:1px solid lightgray;
}
.chat-footer > form {

  display: flex;
  flex: 1;
}
.chat-footer > form > input {

  flex: 1;
  border-radius: 20px;
  padding: 15px;
  
}
.chat-footer > form > button {

  display: none;
}
.chat-footer > .MuiSvgIcon-root {

  color: gray;
  padding: 10px;
}

 
 
::-webkit-scrollbar { 
  display: none; 
}